.top-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #FFF;
    border-bottom: 0;
    height: 60px;
    z-index: 10;
    box-shadow: 0 0 20px 0 rgba(0, 0, 1, 0.2);
}
ol{
    padding: 0;
}
.header #logo{
    position: relative;
    font-family: 'Josefin Sans', sans-serif !important;
    margin-top: -10px;
    margin-bottom: 0;
    margin-left: 40px;
    color: #00426B;
}
.header #logo, #user{
    outline: 0;
    padding: 0;
    display: inline-block;
}
.header #user{
    float: right;
    margin-top: 20px;
    margin-right: 40px;
    color: #00426B;
    font-style: italic;
}
.header em {
    letter-spacing: 0.09em;
}
#user a{
    color: #00426B;
}
.throwLeft{
    float: left;
}
.glyphicon{
    margin-right: 10px;
    top: 3px !important;
}
.page_title{
    position: relative;
    outline: 0;
    font-family: 'Josefin Sans', sans-serif !important;
}
/**/
.survey-table {
    margin: 20px auto;
    max-width: 1250px;
    width: 80%;
}
.survey-table input {
    border: none;
    background: transparent;
    text-decoration: underline !important;
}
.ui-datatable table{
    table-layout: auto !important;
    font-family: 'Roboto' ,sans-serif;
}
.confidential {
    text-align: center;
    text-transform: capitalize;
}
.preview {
     text-align: center;
}
.answer {
    text-align: center;
}
.report {
    text-align: center;
}
th {
    font-weight: normal !important;
    line-height: 2.5em;
    font-size: 14px;
    background: #00426B !important;
    text-shadow: none !important;
    box-shadow: none !important;
    color: #ffffff !important;
}
tr {
    font-weight: normal !important;
    border-right-color: transparent !important;
    border-left-color: transparent !important;
    line-height: 2em;
    font-size: 14px;
    background: transparent !important;
    text-shadow: none !important;
    box-shadow: none !important;
}

button {
    border: none !important;
    background: transparent !important;
    height: 35px;
    width: 35px !important;
}
/*link dialog*/

.ui-dialog {
    max-width: 600px;
    min-height: 150px;
    border-radius: 0;
    font-family: 'Roboto', sans-serif;
}
.ui-draggable .ui-dialog-titlebar {
    cursor: move;
    background: transparent;
}
.link-panel tr {
    border: 0 solid transparent;
}
.link-panel input {
    box-shadow: none !important;
    height: 30px;
    border-radius: 0;
}
.link-panel label {
    font-weight: normal;
}
/**/
.page_title h2{
    margin-top: 0;
    width: 100%;
    padding: 100px 0 30px;
    text-align: center;
    font-size: 2em;
    color: #00426B;
    font-family: 'Bitter', serif;
}
footer{
    display: block;
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    font-size: 9px;
}
body{
    background: -webkit-linear-gradient(right, #EEF0F3, #FFFFFF);
    background: -moz-linear-gradient(right, #EEF0F3, #FFFFFF);
    background: -o-linear-gradient(right, #EEF0F3, #FFFFFF);
    background: linear-gradient(to left, #EEF0F3, #FFFFFF);
    font-family: "Roboto", sans-serif !important;
    font-weight: normal !important;
    -webkit-font-smoothing: antialiased;
}
html, body {
    width: 100%;
    height: 100%;
}